<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="generator" content="cobalt">
<meta name="keywords" content="personal website, find-billy, blog">
<link href="/static/logos/icon.svg" rel="icon" type="image/svg">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="/static/css/default.css" rel="stylesheet" type="text/css" media="(prefers-color-scheme: light)">
<link href="/static/css/menu.css" rel="stylesheet" type="text/css" media="(prefers-color-scheme: light)">
<link href="/static/css/default.css" rel="stylesheet" type="text/css" media="(prefers-color-scheme: dark)">
<link href="/static/css/menu.css" rel="stylesheet" type="text/css" media="(prefers-color-scheme: dark)">
<link href="/static/css/dark-default.css" rel="stylesheet" type="text/css" media="(prefers-color-scheme: dark)">
<link href="/static/css/dark-menu.css" rel="stylesheet" type="text/css" media="(prefers-color-scheme: dark)">
<title>{{page.title}}</title>
<meta property="og:title" content="{{page.title}}">
<meta property="og:url" content="{{site.base_url}}/{{page.permalink}}">
<meta property="og:image" content="{{site.base_url}}/static/icon.svg">
<meta property="og:image:type" content="image/webp">
<meta property="og:site_name" content="{{site.title}}">
<script type="module" src="https://unpkg.com/dark-mode-toggle"></script>
