<nav id="menu">
	<details>
		<summary>Menu</summary>
		<ul>
			<li><a href="/index.html">About</a></li>
			<li><a href="/link-tree.html#contact">🤙 Contact</a></li>
			<li><a href="/link-tree.html">Link tree</a></li>
			<li><a href="/licenses.html">© Licenses</a></li>
			<li><a href="/policies.html">Policies</a></li>
			<li><a href="/source.html">Source code</a></li>
			<li><a href="/posts.html">📜 Blog</a></li>
			<li><a href="/art/index.html">🌠 Art portfolio</a></li>
			<li><a href="/static/find-billy/index.html">🎮 find-billy</a></li>
			<li><a href="/linux-distribution-usage-timeline.html">Linux distro timeline</a></li>
		</ul>
	</details>
</nav>
