<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
	<head>
		{% include "head.liquid" %}
		<meta property="og:type" content="website">
	</head>
	<body>
		<header>
			{% include "dark-light-switcher.html" %}
			{% include "menu.html" %}
			<h1>{{ page.title }}</h1>
			<time datetime="{{ page.published_date | replace: " +", "+" | replace: " -", "-"}}">{{page.published_date}}</time>
	   	</header>
		<main>
			{{ page.content }}
		</main>
		<footer>
			{% include "footer.html" %}
		</footer>
	</body>
</html>