<!DOCTYPE html>
<html>
		<head>
				{% include "head.liquid" %}
		</head>
		<body>
			<header>
			{% include "dark-light-switcher.html" %}
				{% include "menu.html" %}
				<h1>{{ page.title }}</h1>
			</header>
			<main>
				{{ page.content }}
			</main>
			<footer>
				{% include "footer.html" %}
			</footer>
	</body>
</html>